img {
  display: block;
  opacity: 0.3;
  border-radius: 300px;
  transition-duration: 300ms;
  transition-property: opacity border-radius;
  transition-timing-function: linear;
}

img:hover {
  opacity: 1;
  border-radius: 0px;
}
